<!doctype html>
<html lang="en">
<head>
    <!--CSS starts-->
    <style>
        .card-block {
          margin: 15px;
        }
    </style>

    <!--CSS ends-->

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Reload page every 30 secs-->
    <meta http-equiv="refresh" content="30">

    <title>Chain View</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        {% if data %}
            {% for i in range(data['length'] - 1, -1, -1) %}
                {% set chain = data['chain'][i] %}
                    <div class="card" style="width: 30rem;">
                        <div class="card-header" style="color: #ffffff; background-color: #333; border-color: #333;">
                            Block #{{ chain['index'] }}
                        </div>
                        <div class="card-block">
                            <h6 class="card-title">Timestamp: {{ chain['timestamp'] }}</h6>
                            <p class="card-text">Proof: {{ chain['proof'] }}</p>
                            <h6 class="card-subtitle mb-2 text-muted">List of transactions: </h6>
                            {% for transaction in chain['transactions'] %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Amount: {{ transaction['amount'] }}</li>
                                    <li class="list-group-item">Recipient: {{ transaction['recipient'] }}</li>
                                    <li class="list-group-item">Sender: {{ transaction['sender'] }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="card-footer text-muted">
                            Previous Hash: {{ chain['previous_hash'] }}
                        </div>
                    </div>

                    <br>

            {% endfor %}
        {% else %}
          <h1>No data</h1>
        {% endif %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>